#ACP_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 1px dotted #bbb;
  box-sizing: border-box;
  background: white;
  cursor: crosshair;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
}

#ACP_content {
  width: 100%;
  height: 100%;
}
#ACP_info {
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  left: auto;
  color:white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  cursor: default;
}

.ACP_bg_color,
.ACP_text_color{
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.ACP_bg_color h2,
.ACP_text_color h2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid;
  font-size: 1.1rem;
}
.ACP_bg_color label,
.ACP_text_color label{
  color: white;
  display: block;
  margin: 5px;
}
.ACP_bg_color span,
.ACP_text_color span{
  width: 4em;
  display: inline-block;
}
.ACP_bg_color input,
.ACP_text_color input{
  width: 11em;
  height:30px;
  font-size: 1.2em;
  padding: 0.3em;
  border-radius: 5px;
}

#ACP_display,
#ACP_text_display {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 40px;
  margin-right: 10px;
}
#ACP_container ul {
  float: left;
  margin-right: 15px;
  list-style: none;
}
#ACP_container li {
  float: left;
  margin-right: 5px;
  line-height: 12px;
}
#ACP_container input {
  font-size: 12px;
  font-family: 'Courier New';
  border: 1px solid #eee;
}
#ACP_sample_bg{
  margin-bottom: 20px;
}
#ACP_sample_text{
  text-align: center;
  padding: 20px;
  display: block;
  box-sizing: border-box;
}
#ACP_close{
  width: 50%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
#ACP_cursor {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
  display: block;
}
#ACP_info:hover~#ACP_cursor{
  display: none !important;
}
