#ACP_sampleTarget{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border: 1px solid red;
  background: white;
  cursor: crosshair;
}

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Courier New';
    font-size: 12px;
}
img {
    vertical-align:middle;
}
#ACP_container {
    width: 100%;
    height: 100%;
}
#info {
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    color:white;
}
#display {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #eee;
}
ul {
    float: left;
    margin-right: 15px;
    list-style: none;
}
li {
    float: left;
    margin-right: 5px;
    line-height: 12px;
}
input {
    font-size: 12px;
    font-family: 'Courier New';
    border: 1px solid #eee;
}
#close{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: blue;
}
#cursor {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    border: 1px solid #aaa;
    position: absolute;
    display: none;
}
